
cache/
.DS_Store
more-scripts/sync-with-android/tmp/
ssh_config
bin/debug
bin/post-install.sh
bin/make-post-install-pack.sh
bin/dvd
goodies/

*.secret

build/
target/


**/tags

*.bin
*.eep
*.sizeok

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

config.log
config.status
autom4te.cache
aclocal.m4
build-aux/

packrat/lib*/
packrat/src*/
.Rhistory
.DS_Store
.Rproj.user
.Rproj
.Rapp.history
.RData
.Ruserdata
.Rapp.history
Rplots.pdf

.Rd2pdf*/

inst/doc
Meta

*.fasl

package-lock.json
node_modules/
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

dist/
dist-newstyle/
.well-known/

.cache
pids
_.pid
_.seed
*.pid.lock
build/Release
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
.stylelintcache



*.xz
*.gz
*.zpaq
*.datatable
*.RData
*.rda

.shastore

Thumbs.db
db.json
*.log
public/
.deploy*/
_multiconfig.yml

gmon.out
callgrind.out.*
*.hi
