[user]
	name = Tony Fischetti
	email = tony.fischetti@gmail.com
    username = tonyfischetti
    signingkey = BA9ED673D250AFB3
[core]
    editor = vim
    abbrev = 13
[color]
	ui = true
# [credential]
# 	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[github]
    user = tonyfischetti
[pretty]
    fixes = Fixes: %h (\"%s\")
[pull]
   rebase = false
[sendemail]
	from = Tony Fischetti <tony.fischetti@gmail.com>
	smtpserver = smtp.gmail.com
	smtpuser = tony.fischetti@gmail.com
	smtpencryption = tls
	chainreplyto = false
	smtpserverport = 587
[credential]
	helper = cache
[commit]
	gpgsign = true
